
<% if @tweet %>

  <% @user = current_user if !@user %>
  <h1>Tweet ID: <%= @tweet.id %></h1>

  <p><%= @tweet.content %></p>

  <br><br>


  <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br>
  <form action="/tweets/<%= @tweet.id %>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="delete" value="Delete Tweet">
  </form>

<% else %>
  <h1>Tweet does not exist!</h1>
<% end %>
