<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <% if request.env['PATH_INFO'] != "/tweets" && is_logged_in? %>
        <a href="/tweets">All Tweets</a>
      <% end %>

      <%= yield %>
    </div>



  </body>
</html>
